 /*BOOKINGS*/

 .bookings {

    background-size: cover;
    height: 400px;
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
 
  .bookings-overlay {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.342);;
  }
 
  .bookings h1 {
    color: white;
    margin: 2% 0 3% 0
  }
 
  button {
   font-size: 1.5rem;
   text-align: center;
   color: white;
   padding: .5rem 1rem;
   background: rgba(247, 244, 244, 0.233);
 }
 
 button:hover {
   background: rgba(247, 244, 244, 0.075);
 }
 
 button:active {
  background: rgba(167, 233, 182, 0.5)
 }
 
 
 /* Style the container */
 
 /* Style inputs, select elements and textareas */
 #close {
   display: block;
   height: 20px;
   width: 20px;
   float: right;
 }
 
 input, select, textarea {
     display: block;
     width: 100%;
     border: none;
     outline: none;
     margin: 5% 0;
     box-sizing: border-box;
   }
 
   textarea {
     max-height: 100px;
     max-width: 100%;
     min-width: 100%;
     padding-left: 10px;
     padding: 10px;
     border-radius: 5px;
     min-height: 45px;
     box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
   }
 
   input {
     padding: 5px;
     padding-left: 10px;
     height: 50px;
     font-size: 14px;
     border-radius: 5px;
     box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
   }
 
   input[type=submit] {
     margin-top: 20px;
     background-color: #579564;
     height: 40px;
     cursor: pointer;
     font-weight: 900;
     color: white;
     box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
   }
 
 .input-container input, textarea {
 margin: 5% 0;
 }
 
 .iconButton {
   position: relative;
   bottom: 10px;
   left: 10px;
   text-align: right;
 }
 
 
 .booking-header {
  text-align: center;
  margin-bottom: 10%;
  font-size: 1.5em;
  font-weight: bold;
 }
 
 #booking-button-container {
   text-align: center;
 }
 