/* NAVBAR */

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #579564;
    text-align: center;
    margin: 5%;
    height: 650px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  
  nav span {
      font-size: 5rem;
      margin: 10px 0px;
      color: white;
  }
  
  a.link {
    text-decoration: none;
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 1rem 2rem;
    color: white;
  }
  
  .logo-container {
    margin: 4%;
  }
  
  .logo {
      display: block;
      width: 250px;
      height: 250px;
      margin: 0 auto;
  }
  
  .icon {
    height: 30px;
    margin: 0 20px;
  }
  
  .icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }